.portada {
  padding: 20px 30px;
  margin-bottom: 30px;
}
.portada .img-portada {
  width: 380px;
  height: 380px;
}
.portada .saludo {
  font-size: 2.3rem;
  font-weight: 200;
  letter-spacing: 1px;
}
.portada .title {
  font-family: "Playfair Display", serif;
  font-size: 3rem;
  width: 90%;
  letter-spacing: 1px;
}
.portada .title .text-color {
  color: rgb(252, 197, 152);
  font-family: "Playfair Display", serif;
}
.portada .text-portada {
  font-size: 1.05rem;
  line-height: 30px;
  text-align: justify;
  padding-top: 20px;
  width: 80%;
  letter-spacing: 1px;
  font-weight: 200;
}
.portada .btn-portada1 {
  background-color: rgb(252, 197, 152);
  color: rgb(31, 14, 31);
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
  margin-right: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  width: 20%;
}
.portada .btn-portada1:hover {
  background-color: rgb(187, 146, 112);
  color: white;
}
.portada .btn-portada2 {
  border: 2px solid rgb(187, 146, 112);
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 20px;
  margin-right: 20px;
  letter-spacing: 1px;
}
.portada .btn-portada2:hover {
  background-color: rgb(187, 146, 112);
  font-weight: 600;
}

/*SOBRE MI*/
.p-introduccion {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.774);
  letter-spacing: 1px;
  font-weight: 200;
}

.p-sobremi {
  text-align: justify;
  line-height: 30px;
  width: 100%;
  font-size: 1.1rem;
  letter-spacing: 1px;
  font-weight: 200;
  margin: 10px;
  padding: 20px;
}

/*HABILIDADES*/
.p-habilidades {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.774);
  letter-spacing: 1px;
}

.card-habilidades {
  padding: 10px 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.575);
  background-color: rgb(248, 215, 188);
  width: 350px;
  height: 300px;
  border-radius: 20px;
}
.card-habilidades .title-img {
  color: rgb(56, 26, 56);
  font-family: "Playfair Display", serif;
  font-weight: 600;
}
.card-habilidades .text-habilidades {
  font-size: 0.85rem;
  line-height: 20px;
  padding: 10px 5px;
  color: black;
}
.card-habilidades .img-card {
  width: 100px;
  height: 100px;
}

/*CONTACTO*/
.columna-contacto {
  width: 90%;
  height: 220px;
  background-color: rgb(56, 26, 56);
  transform: translateX(10%);
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.575);
}
.columna-contacto a {
  text-decoration: none;
  color: white;
}
.columna-contacto li {
  list-style: none;
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 1.3rem;
  margin: 20px;
  padding-bottom: 5px;
  font-weight: 200;
}
.columna-contacto li:hover {
  color: rgb(252, 197, 152);
  cursor: pointer;
}

.text-contacto {
  color: white;
  letter-spacing: 1px;
  line-height: 30px;
  width: 90%;
  text-align: justify;
  padding-bottom: 10px;
  font-size: 1.2rem;
  font-weight: 200;
  margin: 10px;
  padding: 20px;
}

.fab {
  margin: 10px 5px 10px 10px;
  padding: 10px 5px 20px 20px;
  font-size: 2.5rem;
  color: white;
}
.fab:hover {
  cursor: pointer;
  color: rgb(252, 197, 152);
}

/*MIS PROYECTOS*/
.proyectos {
  font-family: "Playfair Display", serif;
}

.img-agro {
  background-color: rgb(20, 1, 15);
  width: 500px;
  height: 420px;
  border-radius: 20px;
}
.img-agro a {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.img-agro .agro {
  width: 500px;
  height: 220px;
  border-radius: 20px;
}
.img-agro .text-proyecto {
  letter-spacing: 1px;
  padding: 5px 20px;
  font-size: 0.9rem;
}
.img-agro .card-title {
  color: white;
  font-size: 2rem;
  font-family: "Playfair Display", serif;
  padding: 10px 0px;
}
.img-agro .title-proyecto {
  font-size: 0.8rem;
  letter-spacing: 2px;
  padding: 5px 0px;
  color: rgb(187, 146, 112);
}
.img-agro .video-dvc {
  background-position: center;
  background-size: cover;
  width: 500px;
  border-radius: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Playfair Display", serif;
  font-family: "DM Sans", sans-serif;
}

.playfair-display .title {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

body {
  background-image: linear-gradient(black 0%, rgb(31, 14, 31) 15%, rgb(56, 26, 56) 25%, rgb(22, 14, 22) 45%, rgb(31, 14, 31) 65%, rgb(43, 16, 43) 80%, black 100%);
  color: white;
}

.navbar {
  margin: 20px 40px;
  padding: 10px 40px;
  background-color: rgb(20, 11, 20);
  border: 1px solid rgba(221, 170, 221, 0.301);
  border-radius: 20px;
}
.navbar .home {
  width: 45px;
  height: 45px;
}
.navbar .nav-link {
  width: 150px;
  font-size: 1rem;
  text-align: center;
  font-weight: 300;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}
.navbar .nav-link:hover {
  color: rgb(252, 197, 152);
  border-bottom: 1px solid rgb(252, 197, 152);
}

/*FOOTER*/
footer a {
  text-decoration: none;
  color: white;
  list-style: none;
  margin-bottom: 10px;
}
footer li {
  margin-bottom: 15px;
  list-style: none;
  text-align: left;
  font-size: 1.2rem;
  color: white;
  font-weight: 300;
}
footer li:hover {
  color: rgb(252, 197, 152);
  cursor: pointer;
}
footer .columna1 {
  text-align: left;
  width: 400px;
}
footer h5 {
  font-size: 1.5rem;
  padding-bottom: 10px;
}
footer .f-derechos {
  font-size: 0.8rem;
  letter-spacing: 1px;
}
footer .scroll {
  width: 180px;
  font-size: 1.2rem;
  font-weight: 300;
}

.title-sobremi {
  font-size: 4rem;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
  width: 100%;
}
.title-sobremi .text-color {
  color: rgb(252, 197, 152);
  font-family: "Playfair Display", serif;
}

.text-color {
  color: rgb(252, 197, 152);
}

.bold {
  font-weight: 500;
}

.text-subrayado {
  border-bottom: 1px solid rgb(252, 197, 152);
  padding-bottom: 5px;
}

.underline--magical {
  background-image: linear-gradient(120deg, rgb(252, 197, 152) 0%, rgba(185, 131, 51, 0.377) 100%);
  background-repeat: no-repeat;
  background-size: 100% 0.2em;
  background-position: 0 96%;
  transition: background-size 0.25s ease-in;
}
.underline--magical:hover {
  background-size: 100% 88%;
}

.active-link {
  color: rgb(252, 197, 152);
}

.portada-sobremi {
  margin: 40px;
  padding: 20px;
}
.portada-sobremi h1 {
  font-size: 3rem;
  padding: 20px 20px 10px;
  margin: 40px;
  font-family: "Playfair Display", serif;
  letter-spacing: 1px;
}
.portada-sobremi h1 .text-color {
  font-family: "Playfair Display", serif;
}
.portada-sobremi p {
  padding-top: 10px;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.portada-sobremi .flecha-icon {
  width: 90px;
  height: 90px;
  animation: float 2s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(0%);
  }
}
.title-estudio {
  font-size: 2.3rem;
  font-family: "Playfair Display", serif;
}

.cursos-carreras {
  height: 230px;
  padding: 10px;
  text-align: left;
}
.cursos-carreras .fecha-estudio {
  font-family: "Playfair Display", serif;
  color: rgb(252, 197, 152);
  font-size: 1.5rem;
}
.cursos-carreras .title-carrera {
  font-size: 1.5rem;
  letter-spacing: 1px;
}
.cursos-carreras .text-estudio {
  letter-spacing: 1px;
  line-height: 25px;
  font-weight: 200;
}

.linea {
  width: 70px;
  margin: 20px;
  height: 70vh;
  border-right: 2px solid white;
}

.text-sobremi {
  text-align: justify;
  line-height: 30px;
  width: 100%;
  font-size: 1.2rem;
  letter-spacing: 1px;
  font-weight: 200;
  margin: 10px;
  padding: 20px;
}

/*HOBBIES IDIOMAS HERRAMIENTAS*/
.title-educacion {
  font-size: 2.5rem;
  color: rgb(252, 197, 152);
  font-family: "Playfair Display", serif;
}

.text-skills {
  letter-spacing: 1px;
  line-height: 30px;
  font-size: 1.2rem;
  padding: 0px 40px;
  width: 800px;
  font-weight: 300;
  transform: translateX(25%);
}

.logo-herramientas {
  width: 70px;
  height: 70px;
  margin: 10px;
}
.logo-herramientas .progress-icon {
  font-size: 1rem;
  padding: 10px;
}

.title-extras {
  font-size: 2.2rem;
  padding: 15px;
  color: white;
  font-family: "Playfair Display", serif;
}

.title-hobbies {
  font-size: 1.1rem;
  padding: 20px 10px;
  letter-spacing: 1px;
  font-weight: 300;
}

.text-idiomas {
  list-style: none;
  font-size: 1.1rem;
  letter-spacing: 1px;
  padding: 10px;
}

.progress-icon {
  font-size: 1rem;
  padding: 10px;
}

.icon-hobbies {
  width: 180px;
}

/*typing
display: block;
white-space: wrap;
border-right: 4px solid;
width:15ch;
animation: typing 2s steps(16), blink .5s step-end alternate ;
overflow: hidden;
@keyframes typing{
from{
width: 0;
}
}
@keyframes blink{
20%{
border: transparent;
}
}*/

/*# sourceMappingURL=estilos.css.map */
