@import "index";
@import "utilitarias";
@import "sobremi";







  
/*typing
display: block;
white-space: wrap;
border-right: 4px solid;
width:15ch;
animation: typing 2s steps(16), blink .5s step-end alternate ;
overflow: hidden;
@keyframes typing{
from{
width: 0;
}
}
@keyframes blink{
20%{
border: transparent;
}
}*/
